@media only screen and (max-width: 768px) {
    #statistics-container {
        position: static;
        margin: auto;
    }
    .dash aside nav {
        position: static;
    }
    .dash > .container > .row {
        flex-direction: column-reverse;
    }
    .post-col:nth-child(odd) {
        padding-right: 0px;
    }
    .post-col:nth-child(even) {
        padding-left: 0px;
    }
  }